* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #F6F8F9;

}

header {
  box-sizing: border-box;
  padding: 20px;
  background-color: white;

}

.header img {
  float: left;
  width: 60px;
  height: 60px;
}

.header h1 {
  position: relative;
  top: 10px;
  left: 10px;
  font-size: 40px;
}

.content {
  width: 800px;
  height: 500px;
  margin: 40px auto;

  box-sizing: border-box;
  background-color: white;

}

#button-row {
  border-bottom: 1px solid #F6F8F9;
}

#button-container {

  padding-top: 12px;
  padding-bottom: 16px;
  padding-left: 40px;


}


button {
  border: solid rgb(190, 190, 190);
  border-radius: 10%;
  padding: 4px;
}

#button-1 {
  background-color: #47ADF1;
}